In [1]:
# import statements for all of the packages that i
#   plan to use.
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
read_file = pd.read_csv('noshowappointments-kagglev2-may-2016.csv',sep=';')
read_file.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,29/04/2016 21:38,29/04/2016 03:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,29/04/2016 19:08,29/04/2016 03:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,29/04/2016 19:19,29/04/2016 03:00,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,29/04/2016 20:29,29/04/2016 03:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,29/04/2016 19:07,29/04/2016 03:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [13]:
ENGletters = ['F']
read_file = read_file[~read_file['Gender'].str.contains('|'.join(ENGletters))]
read_file = read_file.sort_index()
# read_file['index'] = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]
read_file

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
1,5.589978e+14,5642503,M,29/04/2016 19:08,29/04/2016 03:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No
11,7.542951e+12,5620163,M,26/04/2016 11:44,29/04/2016 03:00,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
13,9.113946e+14,5636249,M,28/04/2016 17:52,29/04/2016 03:00,28,NOVA PALESTINA,0,0,0,0,0,0,No
16,8.457439e+13,5633121,M,28/04/2016 11:51,29/04/2016 03:00,50,NOVA PALESTINA,0,0,0,0,0,0,No
22,8.632298e+14,5616091,M,25/04/2016 16:29,29/04/2016 03:00,13,CONQUISTA,0,0,0,0,0,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110501,4.544252e+11,5758133,M,01/06/2016 13:19,01/06/2016 03:00,44,MARIA ORTIZ,0,0,0,0,0,0,No
110506,8.973883e+11,5758779,M,01/06/2016 14:09,01/06/2016 03:00,5,MARIA ORTIZ,0,0,0,0,0,0,No
110509,4.952968e+14,5786750,M,08/06/2016 11:50,08/06/2016 03:00,33,MARIA ORTIZ,0,0,0,0,0,0,No
110513,8.674778e+13,5785964,M,08/06/2016 10:52,08/06/2016 03:00,2,ANTÔNIO HONÓRIO,0,0,0,0,0,0,No
110515,6.456342e+14,5778621,M,06/06/2016 18:58,08/06/2016 03:00,33,MARIA ORTIZ,0,1,0,0,0,0,Yes

In [16]:
data = []
for i in range(len(read_file)):
        id = read_file['Neighbourhood'][i]
        text = read_file['Age'][i]            
        data.append({"audio": id, "text": text})

KeyError: 0

In [ ]:
data